/* ///////////PAGE1//////// */

body {
    background: rgb(153, 2, 2);
    
}

#page1 #page2, .allText {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

#page1, #page2, #page3 header {
    font-size: 50px;
    text-align: center;
    margin: 70px auto auto 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


.description, .instructions {
    /* display: inline-block; */
    /* text-align: center; */
    font-size: 30px;
    margin: 50px 20px 5px 20px;
    border: 3px solid white;
    padding: 20px;
    fill-opacity: white;
    height: 250px;

}

/* .instructions {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border: 2px dotted white;
    padding: 50px
} */

.allButtons, .allText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px ;

}

/* >> BUTTONS << */

a, #startButton, #submitButton, .nextButton {
    font-size: 20px;
    border: none;
    padding: 10px 25px;
    color: #fff;
    font-weight: 600;
    border-radius: 1.25rem;
    background-color: #00a8db;
    margin: 5px;
}

.playerLabel {
    color: white;
    

    
}

.playerA, .playerB {
    display: flex;
    justify-content:flex-start;
    padding: 10px 25px;
    width: 300px;
    height: 30px;
    font-size: medium;
    margin-left: 50px;
    margin-right: 50px;
    

}

.playerA, .playerB{
    margin-top: 20%;
}


.page2Title {
    padding: 10px;
}


.notification, .pTag {
    border: 3px solid white;
    margin: 20px;
    padding: 20px;
}

.pTag {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}


